.hideable {
    display: none;
}

#slideshow {
    width: 900px;
    height: 360px;
    margin: auto;
}

#number {
    float: left;
}

#caption {
    position: absolute;
    z-index: 4;
    text-align: center;
    width: 900px;
    height: 30px;
    margin-top: 330px;
    background: #EEEEEE;
    opacity: 0.8;
}

#spanBulletPoint {
    vertical-align: top;
    float: right;
}

#slideshow-navbar-pause {
    margin-right: 5px;
}

.paused {
    height: 50px;
    cursor:pointer;
    width: 50px;
    position: absolute;
    z-index: 2;
    margin-top: 0px;
    margin-left: 850px;
    background-size: 100%;
    background: url(../img/sprite-square.png) no-repeat -56px 0;
}

.played {
    height: 50px;
    cursor:pointer;
    width: 50px;
    position: absolute;
    z-index: 2;
    margin-top: 0px;
    margin-left: 850px;
    background-size: 100%;
    background: url(../img/sprite-square.png) no-repeat 0 0;
}

#slideshow-Lbutton, #slideshow-Rbutton {
    position: absolute;
    cursor:pointer;
    z-index: 2;
    height: 50px;
    width: 50px;
    margin-top: 160px;
    background: url(../img/sprite-square.png) no-repeat;
}
#slideshow-Lbutton {
    margin-left: 0;
    background-position: 0 -110px;
}

#slideshow-Rbutton {
    margin-left: 850px;
    background-position: 0 -55px;
}

#slideshow img {
    max-width: 900px;
    max-height: 360px;
    vertical-align: middle;
    position: relative;
    z-index: 3;
}

#slideshow img.tr {
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#slideshow img.tr.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

#slideshow-ul {
    padding-left: 0px;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 900px;
    height: 360px;
    background: #e8e8e8;
    font-size: 1.6em;
    line-height: 5em;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.11, #e8e8e8), color-stop(0.56, #f9f9f9));
    background-image: -webkit-linear-gradient(center bottom, #e8e8e8 11%, #f9f9f9 56%);
    background-image: -moz-linear-gradient(center bottom, #e8e8e8 11%, #f9f9f9 56%);
    background-image: linear-gradient(center bottom, #e8e8e8 11%, #f9f9f9 56%);

    -webkit-box-shadow: 0 0 65px #d7d2ce inset, 0 0 20px #b0aba7 inset;
    -moz-box-shadow:    0 0 65px #d7d2ce inset, 0 0 20px #b0aba7 inset;
    box-shadow:         0 0 65px #d7d2ce inset, 0 0 20px #b0aba7 inset;
}

@media (max-width: 767px) {
    #slideshow {
        width: 300px;
        margin: auto;
    }

    #slideshow img {
        max-width: 300px;
        max-height: 128px;
        vertical-align: middle;
        position: relative;
        z-index: 3;
    }
    #slideshow-ul {
        width: 300px;
        height: 128px;
        text-align: center;
    }
    #slideshow-Lbutton, #slideshow-Rbutton {
        position: absolute;
        z-index: 2;
        height: 50px;
        width: 50px;
        margin-top: 50px;
        background: url(../img/sprite-square.png) no-repeat;
    }
    #slideshow-Lbutton {
        margin-left: 0;
        background-position: 0 -110px;
    }

    #slideshow-Rbutton {
        margin-left: 250px;
        background-position: 0 -55px;
    }
    #caption {
        position: absolute;
        z-index: 4;
        text-align: center;
        width: 300px;
        height: 30px;
        margin-top: 100px;
        background: #EEEEEE;
        opacity: 0.8;
    }

    .paused {
        height: 50px;
        cursor:pointer;
        width: 50px;
        position: absolute;
        z-index: 2;
        margin-top: 0px;
        margin-left: 250px;
        background-size: 100%;
        background: url(../img/sprite-square.png) no-repeat -55px 0;
    }

    .played {
        height: 50px;
        cursor:pointer;
        width: 50px;
        position: absolute;
        z-index: 2;
        margin-top: 0px;
        margin-left: 250px;
        background-size: 100%;
        background: url(../img/sprite-square.png) no-repeat 0 0;
    }
}

.dots_commands  {
    padding:0;
    margin:0 0 0;
    text-align: right;
}

.dots_commands li {
    display: inline;
    padding:0; margin:0;
}

.dots_commands a {
    position: relative;
    display: inline-block;
    height:14px; width: 14px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #000000;
    cursor:pointer;

    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}
